---
import Section from "@/components/Section.astro";
import { skills } from "@cv-es";
---

<Section title="Habilidades">
    <ul>
        {
            skills.map(({ name }) => {
                return <li>{name}</li>;
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    li {
        border-radius: 6px;
        padding: 0.5rem 0.8rem;
        background-color: #eee;
        font-size: 0.8rem;
        font-weight: 500;
    }
</style>
